* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 30px;
}

.game {
    padding: 1rem;
}

.board-container {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.board {
    border: 1px solid black;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-template-rows: repeat(10, var(--cell-size));
}

.computer-board {
    display: none;
}

.cell {
    background-color: initial;
    border: 1px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;
}

.cell.ship {
    background-color: black;
    border: 1px solid white;
}

.cell.highlighted, .cell:hover {
    background-color: green;
}

.cell.unavailable {
    cursor: not-allowed;
}

.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: grey;
}

.ships-container.vertical {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ships-container.vertical div.ship {
    flex-direction: column;
}

.ships-container .cell {
    background-color: black;
    border: 1px solid white;
}

.ships-container .ship {
    display: flex;
    width: fit-content;
}

.ships-container .ship.selected {
    border: 2px solid #00ff00;
    transform: scale(1.05);
}